# Execute code to build DW and query to display the result

In [ ]:
import configparser
import pandas as pd
import boto3
import json

## 1.Load the config parameters

In [2]:
config = configparser.ConfigParser()
config.read_file(open('dwh.cfg'))

KEY                    = config.get('AWS','KEY')
SECRET                 = config.get('AWS','SECRET')

DWH_IAM_ROLE_NAME      = config.get("DWH", "DWH_IAM_ROLE_NAME")

DWH_CLUSTER_TYPE       = config.get("DWH","DWH_CLUSTER_TYPE")
DWH_NUM_NODES          = config.get("DWH","DWH_NUM_NODES")
DWH_NODE_TYPE          = config.get("DWH","DWH_NODE_TYPE")
DWH_CLUSTER_IDENTIFIER = config.get("DWH","DWH_CLUSTER_IDENTIFIER")

DB_NAME                = config.get("CLUSTER", "DB_NAME")
DB_USER                = config.get("CLUSTER", "DB_USER")
DB_PASSWORD            = config.get("CLUSTER", "DB_PASSWORD")
DB_PORT                = config.get("CLUSTER", "DB_PORT")
pd.DataFrame({"Param":
                  ["DWH_CLUSTER_TYPE", "DWH_NUM_NODES", "DWH_NODE_TYPE", "DWH_CLUSTER_IDENTIFIER", "DB_NAME", "DB_USER", "DB_PASSWORD", "DB_PORT", "DWH_IAM_ROLE_NAME"],
              "Value":
                  [DWH_CLUSTER_TYPE, DWH_NUM_NODES, DWH_NODE_TYPE, DWH_CLUSTER_IDENTIFIER, DB_NAME, DB_USER, DB_PASSWORD, DB_PORT, DWH_IAM_ROLE_NAME]
             })

                    Param       Value
0        DWH_CLUSTER_TYPE  multi-node
1           DWH_NUM_NODES           2
2           DWH_NODE_TYPE   dc2.large
3  DWH_CLUSTER_IDENTIFIER  dwhCluster
4                 DB_NAME         dev
5                 DB_USER     awsuser
6             DB_PASSWORD    Passw0rd
7                 DB_PORT        5439
8       DWH_IAM_ROLE_NAME     dwhRole

## 2.Create client for Redshift

In [6]:
redshift = boto3.client('redshift',
                          region_name="us-east-1",
                          aws_access_key_id=KEY,
                          aws_secret_access_key=SECRET
                       )

In [7]:
myClusterProps = redshift.describe_clusters(ClusterIdentifier=DWH_CLUSTER_IDENTIFIER)['Clusters'][0]
DWH_ENDPOINT = myClusterProps['Endpoint']['Address']
DWH_ROLE_ARN = myClusterProps['IamRoles'][0]['IamRoleArn']
print("DWH_ENDPOINT :: ", DWH_ENDPOINT)
print("DWH_ROLE_ARN :: ", DWH_ROLE_ARN)

DWH_ENDPOINT ::  dwhcluster.cfowwzuzxfoe.us-east-1.redshift.amazonaws.com
DWH_ROLE_ARN ::  arn:aws:iam::412648883775:role/dwhRole

## 3.Create client for S3 and check data path list

In [8]:
s3 =  boto3.resource('s3',
                       region_name="us-east-1",
                       aws_access_key_id=KEY,
                       aws_secret_access_key=SECRET
                     )

sampleDbBucket =  s3.Bucket("udacity-dend")

In [9]:
for obj in sampleDbBucket.objects.filter(Prefix="log_json_path"):
    print(obj)

s3.ObjectSummary(bucket_name='udacity-dend', key='log_json_path.json')

## 4.Run create table code

In [11]:
%run create_tables.py

## 5.Run ETL code

In [12]:
%run etl.py

Query:
    copy staging_events from 's3://udacity-dend/log_data'
    credentials 'aws_iam_role=arn:aws:iam::412648883775:role/dwhRole'
    compupdate off region 'us-west-2'
    format as json 's3://udacity-dend/log_json_path.json';

Query:
    copy staging_songs from 's3://udacity-dend/song_data'
    credentials 'aws_iam_role=arn:aws:iam::412648883775:role/dwhRole'
    compupdate off region 'us-west-2'
    format as json 'auto';

Query:
INSERT INTO songplays (start_time, user_id, level, song_id, artist_id, session_id, location, user_agent)
SELECT b.ts as start_time, b.user_id, b.level, a.song_id, a.artist_id, b.session_id, b.location, b.user_agent
FROM staging_songs a JOIN staging_events b
ON a.title = b.song
AND a.artist_name = b.artist
AND a.song_id IS NOT NULL
AND a.artist_id IS NOT NULL;

Query:
INSERT INTO users (user_id, first_name, last_name, gender, level)
SELECT user_id, first_name, last_name, gender, level
FROM staging_events
WHERE user_id IS NOT NULL;

Query:
INSERT INTO songs (song_id, title, artist_id, year, duration)
SELECT song_id, title, artist_id, year, duration
FROM staging_songs
WHERE song_id IS NOT NULL;

Query:
INSERT INTO artists (artist_id, name, location, lattitude, longitude)
SELECT artist_id, artist_name, artist_location, artist_latitude, artist_longitude
FROM staging_songs
WHERE artist_id IS NOT NULL;

Query:
INSERT INTO time (start_time, hour, day, week, month, year, weekday)
SELECT ori_ts as start_time, EXTRACT(HOUR FROM ts) as hour, EXTRACT(DAY FROM ts) as day,
EXTRACT(WEEK FROM ts) as week, EXTRACT(MONTH FROM ts) as month, EXTRACT(YEAR FROM ts) as year,
EXTRACT(WEEKDAY FROM ts) as weekday
FROM( SELECT ts as ori_ts, (TIMESTAMP 'epoch' + ts/1000 * INTERVAL '1 Second ') as ts
FROM staging_events
WHERE ts IS NOT NULL);

## 6.Connect DB

In [10]:
%load_ext sql
from time import time

In [ ]:
conn_string="postgresql://{}:{}@{}:{}/{}".format(DB_USER, DB_PASSWORD, DWH_ENDPOINT, DB_PORT,DB_NAME)
print(conn_string)
%sql $conn_string

## 7.Test DW Build Result

### 7.1.Check every tables's record count

In [28]:
%%time
qry = """
    select count(*) from staging_events;
"""
nStageEvents = %sql $qry
qry = """
    select count(*) from staging_songs;
"""
nStageSongs = %sql $qry
qry = """
    select count(*) from users;
"""
nUsers = %sql $qry
qry = """
    select count(*) from songs;
"""
nSongs = %sql $qry
qry = """
    select count(*) from artists;
"""
nArtists = %sql $qry
qry = """
    select count(*) from time;
"""
nTime = %sql $qry
qry = """
    select count(*) from songplays;
"""
nSongplays = %sql $qry

print("staging_events\t\t=", nStageEvents[0][0])
print("staging_songs\t\t=", nStageSongs[0][0])
print("users\t\t=", nUsers[0][0])
print("songs\t\t=", nSongs[0][0])
print("artists\t\t=", nArtists[0][0])
print("time\t\t=", nTime[0][0])
print("songplays\t\t=", nSongplays[0][0])

 * postgresql://awsuser:***@dwhcluster.cfowwzuzxfoe.us-east-1.redshift.amazonaws.com:5439/dev
1 rows affected.
 * postgresql://awsuser:***@dwhcluster.cfowwzuzxfoe.us-east-1.redshift.amazonaws.com:5439/dev
1 rows affected.
 * postgresql://awsuser:***@dwhcluster.cfowwzuzxfoe.us-east-1.redshift.amazonaws.com:5439/dev
1 rows affected.
 * postgresql://awsuser:***@dwhcluster.cfowwzuzxfoe.us-east-1.redshift.amazonaws.com:5439/dev
1 rows affected.
 * postgresql://awsuser:***@dwhcluster.cfowwzuzxfoe.us-east-1.redshift.amazonaws.com:5439/dev
1 rows affected.
 * postgresql://awsuser:***@dwhcluster.cfowwzuzxfoe.us-east-1.redshift.amazonaws.com:5439/dev
1 rows affected.
 * postgresql://awsuser:***@dwhcluster.cfowwzuzxfoe.us-east-1.redshift.amazonaws.com:5439/dev
1 rows affected.
staging_events		= 8056
staging_songs		= 14896
users		= 105
songs		= 14896
artists		= 10025
time		= 8023
songplays		= 333
CPU times: user 13 ms, sys: 5 ms, total: 18 ms
Wall time: 456 ms

### 7.2.Display Every tabls list

In [19]:
%%time
%%sql
select * from users Limit 5;

 * postgresql://awsuser:***@dwhcluster.cfowwzuzxfoe.us-east-1.redshift.amazonaws.com:5439/dev
5 rows affected.
CPU times: user 3.62 ms, sys: 0 ns, total: 3.62 ms
Wall time: 238 ms

[(2, 'Jizelle', 'Benjamin', 'F', 'free'),
 (3, 'Isaac', 'Valdez', 'M', 'free'),
 (4, 'Alivia', 'Terrell', 'F', 'free'),
 (5, 'Elijah', 'Davis', 'M', 'free'),
 (6, 'Cecilia', 'Owens', 'F', 'free')]

In [20]:
%%time
%%sql
select * from songs Limit 5;

 * postgresql://awsuser:***@dwhcluster.cfowwzuzxfoe.us-east-1.redshift.amazonaws.com:5439/dev
5 rows affected.
CPU times: user 2.98 ms, sys: 603 µs, total: 3.58 ms
Wall time: 5.14 s

[('SOAACFC12A8C140567', 'Supernatural Pt. II', 'ARNHTE41187B99289A', 0, Decimal('343.09179000')),
 ('SOAACTC12AB0186A20', 'Christmas Is Coming Soon', 'ARXWFZ21187FB43A0B', 2008, Decimal('180.76688999')),
 ('SOAADJH12AB018BD30', 'Black Light (Album Version)', 'AR3FKJ61187B990357', 1975, Decimal('385.90649000')),
 ('SOAAEHR12A6D4FB060', 'Slaves & Bulldozers', 'AR5N8VN1187FB37A4E', 1991, Decimal('415.81668999')),
 ('SOAAFUV12AB018831D', 'Where Do The Children Play? (LP Version)', 'AR5ZGC11187FB417A3', 0, Decimal('216.05832000'))]

In [21]:
%%time
%%sql
select * from artists Limit 5;

 * postgresql://awsuser:***@dwhcluster.cfowwzuzxfoe.us-east-1.redshift.amazonaws.com:5439/dev
5 rows affected.
CPU times: user 3.59 ms, sys: 0 ns, total: 3.59 ms
Wall time: 3.83 s

[('AR00B1I1187FB433EB', 'Eagle-Eye Cherry', 'Stockholm, Sweden', None, None),
 ('AR00DG71187B9B7FCB', 'Basslovers United', '', None, None),
 ('AR00FVC1187FB5BE3E', 'Panda', 'Monterrey, NL, México', '25.670839999999998', '-100.30953'),
 ('AR00JIO1187B9A5A15', 'Saigon', 'Brooklyn', '40.655070000000002', '-73.948880000000003'),
 ('AR00LNI1187FB444A5', 'Bruce BecVar', '', None, None)]

In [22]:
%%time
%%sql
select * from time Limit 5;

 * postgresql://awsuser:***@dwhcluster.cfowwzuzxfoe.us-east-1.redshift.amazonaws.com:5439/dev
5 rows affected.
CPU times: user 2.58 ms, sys: 0 ns, total: 2.58 ms
Wall time: 141 ms

[(1541105830796, 20, 1, 44, 11, 2018, 4),
 (1541106106796, 21, 1, 44, 11, 2018, 4),
 (1541106132796, 21, 1, 44, 11, 2018, 4),
 (1541106352796, 21, 1, 44, 11, 2018, 4),
 (1541106496796, 21, 1, 44, 11, 2018, 4)]

In [23]:
%%time
%%sql
select * from songplays Limit 5;

 * postgresql://awsuser:***@dwhcluster.cfowwzuzxfoe.us-east-1.redshift.amazonaws.com:5439/dev
5 rows affected.
CPU times: user 2.94 ms, sys: 595 µs, total: 3.54 ms
Wall time: 4.81 s

[(64, 1541183813796, 71, 'free', 'SOBBZPM12AB017DF4B', 'ARH6W4X1187B99274F', 70, 'Columbia, SC', '"Mozilla/5.0 (iPhone; CPU iPhone OS 7_1_1 like Mac OS X) AppleWebKit/537.51.2 (KHTML, like Gecko) Version/7.0 Mobile/11D201 Safari/9537.53"'),
 (110, 1541269150796, 95, 'paid', 'SOPANEB12A8C13E81E', 'ARSW5F51187FB4CFC9', 152, 'Winston-Salem, NC', '"Mozilla/5.0 (iPhone; CPU iPhone OS 7_1_2 like Mac OS X) AppleWebKit/537.51.2 (KHTML, like Gecko) Version/7.0 Mobile/11D257 Safari/9537.53"'),
 (363, 1541323143796, 44, 'paid', 'SOCSXKQ12A6D4F95A0', 'ARRE7IQ1187FB4CF13', 196, 'Waterloo-Cedar Falls, IA', 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (122, 1541383104796, 44, 'paid', 'SOHMNPP12A58A7AE4B', 'ARKZ13R1187FB54FEE', 237, 'Waterloo-Cedar Falls, IA', 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (233, 1541385017796, 44, 'paid', 'SONTFNG12A8C13FF69', 'AR52EZT1187B9900BF', 237, 'Waterloo-Cedar Falls, IA', 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0')]

## 8.Display Cube result

### 8.1 Simple cube

In [39]:
%%time
%%sql
SELECT e.year, e.month, b.first_name, b.last_name, c.title as song_title, c.year as song_year, d.name as artist_name, 
       d.location as artist_location, a.level, a.location, a.user_agent, count(e.year) as records
FROM songplays a
JOIN users b on a.user_id = b.user_id
JOIN songs c on a.song_id = c.song_id 
JOIN artists d on a.artist_id = d.artist_id 
JOIN time e on a.start_time = e.start_time
GROUP BY (e.year, e.month, b.first_name, b.last_name, c.title, c.year, d.name, 
       d.location, a.level, a.location, a.user_agent)
Limit 5;

 * postgresql://awsuser:***@dwhcluster.cfowwzuzxfoe.us-east-1.redshift.amazonaws.com:5439/dev
5 rows affected.
CPU times: user 4.07 ms, sys: 3.97 ms, total: 8.05 ms
Wall time: 11.1 s

[(2018, 11, 'Katherine', 'Gay', 'Fake Tales Of San Francisco', 2004, 'Arctic Monkeys', 'Sheffield, South Yorkshire, Engla', 'free', 'San Antonio-New Braunfels, TX', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_6_8) AppleWebKit/534.59.10 (KHTML, like Gecko) Version/5.1.9 Safari/534.59.10"', 1),
 (2018, 11, 'Jayden', 'Graves', 'Adrenaline', 2007, '12 Stones', 'Mandeville, Louisiana', 'paid', 'Marinette, WI-MI', '"Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"', 1),
 (2018, 11, 'Tegan', 'Levine', "Hey Daddy (Daddy's Home)", 2010, 'Usher featuring Jermaine Dupri', 'Atlanta, GA', 'paid', 'Portland-South Portland, ME', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"', 2),
 (2018, 11, 'Tegan', 'Levine', 'Mr. Jones', 1991, 'Counting Crows', '', 'paid', 'Portland-South Portland, ME', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"', 1),
 (2018, 11, 'Jacqueline', 'Lynch', 'The Boy With The Thorn In His Side', 1985, 'The Smiths', 'Manchester, England', 'paid', 'Atlanta-Sandy Springs-Roswell, GA', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"', 1)]

### 8.2 Slicing
- use songs.title to limit in one value

In [40]:
%%time
%%sql
SELECT e.year, e.month, b.first_name, b.last_name, c.title as song_title, c.year as song_year, d.name as artist_name, 
       d.location as artist_location, a.level, a.location, a.user_agent, count(e.year) as records
FROM songplays a
JOIN users b on a.user_id = b.user_id
JOIN songs c on a.song_id = c.song_id 
JOIN artists d on a.artist_id = d.artist_id 
JOIN time e on a.start_time = e.start_time
WHERE c.title = 'Harder Than You Know'
GROUP BY (e.year, e.month, b.first_name, b.last_name, c.title, c.year, d.name, 
       d.location, a.level, a.location, a.user_agent)
Limit 5;

 * postgresql://awsuser:***@dwhcluster.cfowwzuzxfoe.us-east-1.redshift.amazonaws.com:5439/dev
1 rows affected.
CPU times: user 7.93 ms, sys: 194 µs, total: 8.12 ms
Wall time: 6.87 s

[(2018, 11, 'Joseph', 'Gutierrez', 'Harder Than You Know', 2008, 'Escape The Fate', 'Las Vegas, NV', 'free', 'Columbia, SC', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_3) AppleWebKit/537.75.14 (KHTML, like Gecko) Version/7.0.3 Safari/537.75.14"', 1)]

### 8.3.Dicing
-Add more than one value in query condition in c.title column

In [41]:
%%time
%%sql
SELECT e.year, e.month, b.first_name, b.last_name, c.title as song_title, c.year as song_year, d.name as artist_name, 
       d.location as artist_location, a.level, a.location, a.user_agent, count(e.year) as records
FROM songplays a
JOIN users b on a.user_id = b.user_id
JOIN songs c on a.song_id = c.song_id 
JOIN artists d on a.artist_id = d.artist_id 
JOIN time e on a.start_time = e.start_time
WHERE c.title in('Harder Than You Know','Up Up & Away')
GROUP BY (e.year, e.month, b.first_name, b.last_name, c.title, c.year, d.name, 
       d.location, a.level, a.location, a.user_agent)
Limit 5;

 * postgresql://awsuser:***@dwhcluster.cfowwzuzxfoe.us-east-1.redshift.amazonaws.com:5439/dev
5 rows affected.
CPU times: user 6.01 ms, sys: 2.84 ms, total: 8.84 ms
Wall time: 259 ms

[(2018, 11, 'Anabelle', 'Simpson', 'Up Up & Away', 2009, 'Kid Cudi / Kanye West / Common', 'Cleveland, Ohio', 'free', 'Philadelphia-Camden-Wilmington, PA-NJ-DE-MD', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"', 1),
 (2018, 11, 'Joseph', 'Gutierrez', 'Harder Than You Know', 2008, 'Escape The Fate', 'Las Vegas, NV', 'free', 'Columbia, SC', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_3) AppleWebKit/537.75.14 (KHTML, like Gecko) Version/7.0.3 Safari/537.75.14"', 1),
 (2018, 11, 'Tegan', 'Levine', 'Up Up & Away', 2009, 'Kid Cudi / Kanye West / Common', 'Cleveland, Ohio', 'paid', 'Portland-South Portland, ME', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"', 1),
 (2018, 11, 'Celeste', 'Williams', 'Up Up & Away', 2009, 'Kid Cudi / Kanye West / Common', 'Cleveland, Ohio', 'free', 'Klamath Falls, OR', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.103 Safari/537.36"', 1),
 (2018, 11, 'Austin', 'Rosales', 'Up Up & Away', 2009, 'Kid Cudi / Kanye West / Common', 'Cleveland, Ohio', 'free', 'New York-Newark-Jersey City, NY-NJ-PA', 'Mozilla/5.0 (Windows NT 6.1; rv:31.0) Gecko/20100101 Firefox/31.0', 1)]

### 8.4.Roll-up
-choose time dimension table and use high hierarchy column be a gorup by condition.

In [49]:
%%time
%%sql
SELECT e.year, c.title as song_title, c.year as song_year, d.name as artist_name, 
       d.location as artist_location, a.level, count(a.level) as records
FROM songplays a
JOIN songs c on a.song_id = c.song_id 
JOIN artists d on a.artist_id = d.artist_id 
JOIN time e on a.start_time = e.start_time
WHERE e.year=2018 and c.year <> 0
GROUP BY (e.year, c.title, c.year, d.name, 
       d.location, a.level)
ORDER BY c.year
Limit 10;

 * postgresql://awsuser:***@dwhcluster.cfowwzuzxfoe.us-east-1.redshift.amazonaws.com:5439/dev
10 rows affected.
CPU times: user 7.42 ms, sys: 0 ns, total: 7.42 ms
Wall time: 6.37 s

[(2018, 'Get Set For The Blues', 1957, 'Julie London', 'Santa Rosa, CA', 'paid', 1),
 (2018, 'Honey', 1968, 'Bobby Goldsboro', 'Marianna, FL', 'paid', 1),
 (2018, 'Born To Be Wild', 1968, 'Steppenwolf', 'Los Angeles, CA', 'paid', 3),
 (2018, 'Song Sung Blue', 1972, 'Neil Diamond', 'Brooklyn, NY', 'paid', 1),
 (2018, 'The Joker', 1973, 'Steve Miller Band', 'Swingtown', 'free', 1),
 (2018, 'Sun / C79', 1974, 'Cat Stevens', 'London, England', 'paid', 1),
 (2018, "Driver's Seat", 1978, "Sniff 'n' The Tears", '', 'paid', 1),
 (2018, 'Ring My Bell', 1979, 'Anita Ward', 'Memphis, TN', 'paid', 1),
 (2018, 'Fool For Your Loving', 1980, 'Whitesnake', 'London, England', 'paid', 1),
 (2018, 'My Perfect Cousin', 1980, 'The Undertones', 'Notre Dame, IN', 'paid', 1)]

### 8.5.Drill-down
--choose time dimension table and use low hierarchy column be a gorup by condition.

In [50]:
%%time
%%sql
SELECT e.month, c.title as song_title, c.year as song_year, d.name as artist_name, 
       d.location as artist_location, a.level, count(a.level) as records
FROM songplays a
JOIN songs c on a.song_id = c.song_id 
JOIN artists d on a.artist_id = d.artist_id 
JOIN time e on a.start_time = e.start_time
WHERE e.year=2018 and c.year <> 0
GROUP BY (e.month, c.title, c.year, d.name, 
       d.location, a.level)
ORDER BY c.year
Limit 10;

 * postgresql://awsuser:***@dwhcluster.cfowwzuzxfoe.us-east-1.redshift.amazonaws.com:5439/dev
10 rows affected.
CPU times: user 6.36 ms, sys: 450 µs, total: 6.81 ms
Wall time: 221 ms

[(11, 'Get Set For The Blues', 1957, 'Julie London', 'Santa Rosa, CA', 'paid', 1),
 (11, 'Born To Be Wild', 1968, 'Steppenwolf', 'Los Angeles, CA', 'paid', 3),
 (11, 'Honey', 1968, 'Bobby Goldsboro', 'Marianna, FL', 'paid', 1),
 (11, 'Song Sung Blue', 1972, 'Neil Diamond', 'Brooklyn, NY', 'paid', 1),
 (11, 'The Joker', 1973, 'Steve Miller Band', 'Swingtown', 'free', 1),
 (11, 'Sun / C79', 1974, 'Cat Stevens', 'London, England', 'paid', 1),
 (11, "Driver's Seat", 1978, "Sniff 'n' The Tears", '', 'paid', 1),
 (11, 'Ring My Bell', 1979, 'Anita Ward', 'Memphis, TN', 'paid', 1),
 (11, 'Fool For Your Loving', 1980, 'Whitesnake', 'London, England', 'paid', 1),
 (11, 'My Perfect Cousin', 1980, 'The Undertones', 'Notre Dame, IN', 'paid', 1)]